:root
{
    --primary-color:white;
    --secondary-color:#F9B208;
    --third-color:#323232;
    --dark-gray-color:#323232;
}

body
{
    background: var(--primary-color);
}

nav
{
    background: linear-gradient(to right,rgba(41, 29, 19, 0.8),rgba(194, 101, 101, 0.8));
}

.navimg
{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: auto;
}

h1
{
    color:var(--secondary-color)
}
h2,h3,h4,h5,h6
{
    color:var(--dark-gray-color)
}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer
{
    background: linear-gradient(to left,rgba(41, 29, 19, 0.8),rgba(194, 101, 101, 0.8));
    padding-right: 1rem;
}

.icon
{
    font-size: 22px;
}
.icon a
{
    color:var(--third-color);
}
.icon a:hover
{
    color:var(--primary-color);
}

#imgp
{
    margin: 0;
}

.checklist
{
    list-style: none;
}
.checklist span
{
    color:var(--dark-gray-color)
}

code[class*="language-"], pre[class*="language-"]
{
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.tecnology
{
    color:var(--third-color);
    font-size: 3em;

}

